
/* @font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'KNUTRUTHTTF';
} */

.card{
	width:30px;
	height:60px;
	bax-shawdow: 3px 3px 50px #e6e6e6;
}
.card-view{
	text-align:left;
	padding:30px;
	
	
}
.card-view .title {
	margin-top:30px;
	margin-bottom:30px;
	
}

.card-view.myinfo {
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	margin:auto;
	width:400px;
	padding-top:10px;
	padding-bottom:10px;
	
}
.card-view.myinfo dl{
	display : inline-block;
}
.card-view.myinfo dl dt,dd{
	display : inline-block;
	font-size:small;
}

.card-view.myinfo dl dt{
	margin-left :5px;
	color:#999;
}

.card-view.myinfo dl dd{
	margin-right :10px;
	margin-left:5px;
}
.cont{
	margin-top:30px;
	padding-bottom:30px;
}
.parent{
	width:90%;
	margin:10px auto;
}
.child{
	border: 1px solid red;
	float:left;
	width:25%;
	box-sizing:border-box;
}
