@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@600;700;900&display=swap');

@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{ font-family:'seolleimcool-SemiBold';}

button{
	margin: 2px;
	width: 50px;
	height: 30px;
}

#inputBox {
  margin: 10px;
  font-family: 'Noto Sans KR', sans-serif;
 
}
.input-form-box {
  width:200px;
  hegith:50px;
  margin-bottom: 5px;

}
#inputBox button {
  padding: 3px 5px;
  width: 200px;
  height: 50px;
  
}
#loginBoxTitle {
  color:#000000;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #270a09, #8ca6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.watch-container{
	width: 80%;
	height: 50%
	margin : 5px atuo; padding: 2px 0 10px;
	text-align: center; border: 1px solid black;
	border-radius: 16px;
	
}

h2{color : black;}
h1{color : red;}

h1 > span {
	display : inline-block;
	width :40px;
}

button{
	color : darkslategray; background-color: lightgray;
	font-size: 16px; padding: 6px;
	width:70px; border:none; border-radius:3px;
	cursor:pointer;
	
}
button:active{
	color: lightgray;
	background-color: darkslategray;	
}

button#bt__ok{
	color : black; background-color : lightblue;
	font-size: 16px; padding: 6px;
	width:70px; border:none; border-radius:3px;
	cursor:pointer;
}








