<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="loungeLike">

	<sql id="whereId">
		where lounge_id = #{lounge_id} and user_id = #{user_id}
	</sql>
	
	<insert id="insert" parameterType="loungeLikeVO" useGeneratedKeys="true" keyProperty="like_id">
		insert into lounge_like
		values (
			null,
			#{user_id},
			#{lounge_id}
			)
	</insert>
	
	<delete id="delete" parameterType="loungeLikeVO">
		delete from lounge_like 
		 <include refid="whereId"></include>
	</delete>
	
	<select id="likeCount" parameterType="int" resultType="int">
		select count(like_id) as likeCnt
		from lounge_like 
		where lounge_id = #{lounge_id} 
	</select>
	
	<select id="likeCountAll" parameterType="loungeLikeVO" resultType="loungeLikeVO">
  SELECT lounge_id, user_id,
       IF(COUNT(like_id) = 0, 'off', 'on') AS likeState,
       COUNT(like_id) AS likeCnt
		FROM lounge_like
	WHERE user_id = #{user_id} 
	group by lounge_id
	</select>
	

	<select id="likeCheck" parameterType="int" resultType="loungeLikeVO">
		select like_id,
		if((select  count(like_id) 
			from lounge_like 
			<include refid="whereId"></include>) = 0, 'off', 'on') as likeState
	    from lounge_like
        where lounge_id = #{lounge_id} 
	</select>
	
	
	
	
	
</mapper>
 
  
