<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="loungeReply">
	<insert id="insert" parameterType="loungeReplyVO" useGeneratedKeys="true" keyProperty="reply_id">
		insert into lounge_reply 
		values (
			null,
			#{reply_oriid},
			#{reply_user_id},
			#{reply_content},
			now()
			)
	</insert>
	
	<select id="list" parameterType="int" resultType="loungeReplyVO">
		select * from lounge_reply
		where reply_oriid = #{reply_id}
		order by reply_id desc
	</select>
	
	<update id="update" parameterType="loungeReplyVO"> 
		update lounge_reply
		set
			reply_content = #{reply_content},
			reply_date = now()
		where reply_id = #{reply_id}
	</update>
	
	<delete id="delete" parameterType="loungeReplyVO">
		delete from lounge_reply where reply_id = #{reply_id}
	</delete>
	
	<select id="one" parameterType="int" resultType="loungeReplyVO">
		select * from lounge_reply where reply_id = #{reply_id}
	</select>
</mapper>