<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="loungeReply">
	<insert id="insert" parameterType="loungeReplyVO" useGeneratedKeys="true" keyProperty="reply_id">
		insert into lounge_reply 
		values (
			null,
			#{reply_oriid},
			#{reply_user_id},
			#{reply_content},
			now()
			)
	</insert>
	
	<select id="list" parameterType="int" resultType="loungeReplyVO">
		select * from lounge_reply
		where reply_oriid = #{reply_id}
	</select>
	


</mapper>