<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="petWalk"> <!--pet_info.insert의 pet_info  -->
	<insert id="insert" parameterType="petWalkVO" useGeneratedKeys="true" keyProperty="walk_id"> <!--pet_info.insert의 insert , return타입 int라 따로 쓰지않음 쓰면 에러-->
		insert into pet_walk(
		user_id,
		pet_name,
		walk_date,
		walk_distance,
		walk_time
		
		)
		values (
		#{user_id},
		#{pet_name},
		now(),
		#{walk_distance},
		#{walk_time}
		)
	</insert> <!-- walk_id값 auto_incerment 증가 -->

	<select id="one" parameterType="int" resultType="petWalkVO">
		select * from pet_walk where pet_name = #{pet_name}
	</select>
	
	<select id="today_list" resultType="petWalkVO">
		select * from pet_walk 
		where walk_date= CURDATE() and user_id=#{user_id}
	</select>
	
	<select id="my_walk_list" resultType="petWalkVO">
	select * 
	from pet_walk 
	where user_id = #{user_id}
	order by walk_date DESC
	</select>
	
	<select id="week_list"  resultType="petWalkVO">
		select pet_name ,
		AVG(walk_time) as walk_time,
		rank () over(order by AVG(walk_time) DESC) as walk_date,
		AVG(walk_distance) as walk_distance,
		rank () over(order by AVG(walk_distance) DESC) as walk_id,
		(select pet_name from pet_info where pet_info.pet_name = pet_walk.pet_name) as pet_name
		from pet_walk 
		where pet_walk.walk_date between date_add(NOW(),interval -1 week) and NOW() and user_id=#{user_id}
		group by pet_name;

	</select>
	
	<select id="all_week_list"  resultType="petWalkVO">
		select pet_name ,
		AVG(walk_time) as walk_time,
		rank () over(order by AVG(walk_time) DESC) as walk_date,
		AVG(walk_distance) as walk_distance,
		rank () over(order by AVG(walk_distance) DESC) as walk_id,
		(select pet_name from pet_info where pet_info.pet_name = pet_walk.pet_name) as pet_name
		from pet_walk 
		where pet_walk.walk_date between date_add(NOW(),interval -1 week) and NOW()
		group by pet_name
		order by walk_time DESC
		limit 5;
	</select>
	
	<delete id="delete" parameterType="petWalkVO">
		delete from pet_walk where walk_id = #{walk_id}
	</delete>
	
	
</mapper>

